// colours
$color-primary-light: #ffe535;
$color-primary-dark: #333;

$color-grey-light: #f8f8f8;
$color-grey-medium: #707070;

$color-white: #fff;
$color-black: #000;

// font sizes
$default-font-size: 1.6rem;

// Layout
$website-width: 140rem;
$small-website-width: 120rem;

$section-margin: 10rem auto;

// GRID
$grid-width: 140rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
