.header {
  margin-top: -9rem;
  height: 90vh;
  background-image: url(../img/drinx-home-banner.png);
  background-size: cover;
  background-position: top;

  &__logo {
    height: auto;
    margin-bottom: 4rem;
  }

  &__content {
    position: relative;
    top: 26%;
  }

  // Bottom banner
  &__banner {
    background: $color-primary-dark;
    display: flex;
    justify-content: space-evenly;
    height: 8rem;

    &__usp {
      color: $color-primary-light;
      display: flex;

      i {
        padding-right: 2rem;
      }
    }
  }
}
