body {
  font-family: 'Manrope', sans-serif;
  color: $color-primary-dark;
}

// light300 reg400 bold700 extrabold800

// Headers
h1 {
  font-size: 2.6rem;
  font-weight: 400;
}

h2 {
  font-size: 3.6rem;
  font-weight: 800;
}

h3 {
  font-size: 3rem;
  font-weight: 800;
}

h4 {
  font-size: 2.4rem;
  font-weight: 300;
}

h5 {
  font-size: 2rem;
  font-weight: 800;
}

h6 {
  font-size: 1.6rem;
  font-weight: 800;
}

// Body copy
.p1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}
.p2 {
  font-size: 1.6rem;
  font-weight: 300;
}
.p3 {
  font-size: 1.8rem;
  font-weight: 700;
}
.p4 {
  font-size: 1.8rem;
  font-weight: 400;
}
.p5 {
  font-size: 1.4rem;
  font-weight: 300;
}

// @font-face {
//   font-family: 'Univers LT Std';
//   src: url('UniversLTStd-Light.woff2') format('woff2'),
//     url('UniversLTStd-Light.woff') format('woff'),
//     url('UniversLTStd-Light.ttf') format('truetype');
//   font-weight: 300;
//   font-style: normal;
// }
